@page "/"
@using MailSystem.Contracts.Users

@inject IUserHttpClient UserHttpClient;

@if (_users is not null)
{
    foreach (var user in _users)
    {
        <h2>User name: @user.FullName</h2>
    }
}

@code {
    private List<UserContract> _users;

    protected override async Task OnInitializedAsync()
    {
        // _users = (await UserHttpClient.GetUsers()).ToList();
    }

}