@page "/shipment-registered/{trackingNumber}"

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h2 class="mb-3">Siuntos patvirtinimas</h2>
                    <p>
                        Jūsų siuntos numeris: <b>@TrackingNumber</b>.
                    </p>
                    <p>
                        Pristatykite siuntą į artimiausią paštomatą.
                    </p>
                    <div class="d-flex justify-content-center">
                        <a href="/" class="btn btn-primary">Grįžti į pradžią</a>
                    </div>
                    <img src="img/box.png" alt="Truck image" class="w-100 mb-4">
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string TrackingNumber { get; set; }
}