@using MailSystem.Http.Exceptions
@inherits LayoutComponentBase
@inject IAuthenticationService AuthenticationService
@inject IStorageService StorageService

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await AuthenticationService.OnlyAuthenticated();
        try
        {
            await StorageService.UpdateUserInfo();
        }
        catch (UnauthorizedException)
        {
            await AuthenticationService.Logout();
        }
        catch (ServerRequestException)
        {
            
        }
    }

    private async Task Logout()
    {
        await AuthenticationService.Logout();
    }
}
