<div class="top-row pl-4 navbar navbar-dark">
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <i class="bi bi-house-door-fill"></i> Pagrindinis
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <i class="bi bi-boxes"></i> Mano siuntos
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <i class="bi bi-box-seam"></i> Siųsti siuntą
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <i class="bi bi-info-square-fill"></i> Sekti siuntą
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}